## Super Row

This notebook provides code to add 'super rows' to your code. Each row will also include all sensor readings and activity, Subject ID, and round labels for the next time point. The goal is to include other time points as features for each row, without relying on other data augmentation methods that reduce the total amount of data, such as windowing, rolling, or aggregating.

**INPUT: CSV output of 31_outlier_removal** (plain_data.csv)

__OUTPUT: Super Rows CSV file__ (super_rows.csv)

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

### Import Data

In [31]:
df = pd.read_csv("plain_data.csv")

In [32]:
df

,ACC1,ACC2,ACC3,TEMP,EDA,BVP,HR,Magnitude,Activity,Subject_ID,Round
0,41.000000,27.200000,40.000000,32.39,0.275354,15.25,78.9800,63.410094,Baseline,19-001,1
1,41.000000,27.300000,40.000000,32.39,0.276634,-12.75,78.8350,63.453054,Baseline,19-001,1
2,41.000000,27.400000,40.000000,32.39,0.270231,-42.99,78.6900,63.496142,Baseline,19-001,1
3,41.000000,27.500000,40.000000,32.39,0.270231,18.39,78.5450,63.539358,Baseline,19-001,1
4,41.000000,27.600000,40.000000,32.34,0.268950,13.61,78.4000,63.582702,Baseline,19-001,1
...,...,...,...,...,...,...,...,...,...,...,...
279835,21.176471,-11.176471,64.823529,32.09,0.708502,0.85,92.8275,69.104605,Type,19-056,1
279836,24.235294,-12.235294,62.764706,32.09,0.694414,-1.00,92.8800,68.384649,Type,19-056,1
279837,27.294118,-13.294118,60.705882,32.09,0.672642,5.22,92.9400,67.874197,Type,19-056,1
279838,30.352941,-14.352941,58.647059,32.09,0.664957,-1.47,93.0000,67.577995,Type,19-056,1
279839,33.411765,-15.411765,56.588235,32.09,0.648308,1.37,93.0600,67.498866,Type,19-056,1

### Prepare new columns

In [41]:
new_headers = []

for i in df.columns:
    new_headers.append(i+"+1")

In [43]:
for j in new_headers:
    df[j] = 0

In [1]:
df.columns

NameError: name 'df' is not defined

### Populate table with next timepoints

In [47]:
for i in range(1, len(df)-1):
    df['ACC1+1'][i-1] = float(df['ACC1'][i])
    df['ACC2+1'][i-1] = float(df['ACC2'][i])
    df['ACC3+1'][i-1] = float(df['ACC3'][i])
    df['TEMP+1'][i-1] = float(df['TEMP'][i])
    df['EDA+1'][i-1] = float(df['EDA'][i])
    df['BVP+1'][i-1] = float(df['BVP'][i])
    df['HR+1'][i-1] = float(df['HR'][i])
    df['Magnitude+1'][i-1] = float(df['Magnitude'][i])
    df['Activity+1'][i-1] = df['Activity'][i]
    df['Subject_ID+1'][i-1] = df['Subject_ID'][i]
    df['Round+1'][i-1] = df['Round'][i]
    if i % 10000 == 1:
        print((np.round(i/len(df)*100), "%"))

/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/annie/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

0.000357347055460263
3.57382790165809
7.14729845626072
10.72076901086335
14.294239565465979
17.86771012006861
21.44118067467124
25.01465122927387
28.588121783876502
32.16159233847913
35.73506289308176
39.30853344768439
42.88200400228702
46.455474556889655
50.028945111492284
53.60241566609491
57.175886220697535
60.749356775300164
64.3228273299028
67.89629788450543
71.46976843910807
75.04323899371069
78.61670954831332
82.19018010291596
85.76365065751858
89.3371212121212
92.91059176672384
96.48406232132646

### Drop last rows with no future timepoints

In [52]:
df = df.drop([279838, 279839])

In [53]:
df.to_csv("../../40_usable_data_for_models/41_Duke_Data/super_rows.csv", index = False)