In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
import random
import keras
from keras import models
from keras import layers
import numpy as np
from keras.utils import np_utils

In [6]:
df  = pd.read_csv('../40_usable_data_for_models/Duke_Data/super_rows.csv')

In [7]:
df

,ACC1,ACC2,ACC3,TEMP,EDA,BVP,HR,Magnitude,Activity,Subject_ID,...,ACC2+1,ACC3+1,TEMP+1,EDA+1,BVP+1,HR+1,Magnitude+1,Activity+1,Subject_ID+1,Round+1
0,41.000000,27.200000,40.000000,32.39,0.275354,15.25,78.9800,63.410094,Baseline,19-001,...,27,40,32,0,-12,78,63,Baseline,19-001,1
1,41.000000,27.300000,40.000000,32.39,0.276634,-12.75,78.8350,63.453054,Baseline,19-001,...,27,40,32,0,-42,78,63,Baseline,19-001,1
2,41.000000,27.400000,40.000000,32.39,0.270231,-42.99,78.6900,63.496142,Baseline,19-001,...,27,40,32,0,18,78,63,Baseline,19-001,1
3,41.000000,27.500000,40.000000,32.39,0.270231,18.39,78.5450,63.539358,Baseline,19-001,...,27,40,32,0,13,78,63,Baseline,19-001,1
4,41.000000,27.600000,40.000000,32.34,0.268950,13.61,78.4000,63.582702,Baseline,19-001,...,27,40,32,0,-9,78,63,Baseline,19-001,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279833,15.058824,-9.058824,68.941176,32.09,0.727712,3.66,92.7225,71.145740,Type,19-056,...,-10,66,32,0,-2,92,70,Type,19-056,1
279834,18.117647,-10.117647,66.882353,32.09,0.722590,-2.54,92.7750,70.027602,Type,19-056,...,-11,64,32,0,0,92,69,Type,19-056,1
279835,21.176471,-11.176471,64.823529,32.09,0.708502,0.85,92.8275,69.104605,Type,19-056,...,-12,62,32,0,-1,92,68,Type,19-056,1
279836,24.235294,-12.235294,62.764706,32.09,0.694414,-1.00,92.8800,68.384649,Type,19-056,...,-13,60,32,0,5,92,67,Type,19-056,1
279837,27.294118,-13.294118,60.705882,32.09,0.672642,5.22,92.9400,67.874197,Type,19-056,...,-14,58,32,0,-1,93,67,Type,19-056,1

In [8]:
random.seed(321)

In [9]:
ID_list = list(df['Subject_ID'].unique())
random.shuffle(ID_list)
train = pd.DataFrame()
test = pd.DataFrame()
#val = pd.DataFrame()

In [10]:
#change size of train/test split
train = df[df['Subject_ID'].isin(ID_list[:45])]
test = df[df['Subject_ID'].isin(ID_list[45:])]
#val = df[df['Subject_ID'].isin(ID_list[50:56])]

In [11]:
test.Subject_ID.unique()

array(['19-009', '19-016', '19-018', '19-022', '19-024', '19-026',
       '19-030', '19-037', '19-040', '19-048'], dtype=object)

In [12]:
print(train.shape, test.shape)

(229678, 22) (50160, 22)

In [15]:
X_train = train.drop(['Activity', 'Subject_ID', 'Round', 'Activity+1', 'Subject_ID+1', 'Round+1'], axis = 1).values
X_test = test.drop(['Activity', 'Subject_ID', 'Round', 'Activity+1', 'Subject_ID+1', 'Round+1'], axis = 1).values

In [16]:
y_train = train['Activity'].values
y_test = test['Activity'].values

In [17]:
print(X_train.shape,  y_train.shape, X_test.shape, y_test.shape)

(229678, 16) (229678,) (50160, 16) (50160,)

In [18]:
X_test

array([[ 37.33333333,  11.33333333,  46.5       , ..., -44.        ,
         89.        ,  60.        ],
       [ 37.26666667,  11.26666667,  46.4       , ...,  18.        ,
         89.        ,  60.        ],
       [ 37.2       ,  11.2       ,  46.3       , ...,  12.        ,
         89.        ,  60.        ],
       ...,
       [-16.36893204,  -7.60194175,  66.30097087, ...,  28.        ,
         93.        ,  68.        ],
       [-16.57281553,  -7.77669903,  66.38834951, ...,  51.        ,
         93.        ,  69.        ],
       [-16.77669903,  -7.95145631,  66.47572816, ...,  17.        ,
         96.        ,  72.        ]])

In [19]:
X_train

array([[ 41.        ,  27.2       ,  40.        , ..., -12.        ,
         78.        ,  63.        ],
       [ 41.        ,  27.3       ,  40.        , ..., -42.        ,
         78.        ,  63.        ],
       [ 41.        ,  27.4       ,  40.        , ...,  18.        ,
         78.        ,  63.        ],
       ...,
       [ 21.17647059, -11.17647059,  64.82352941, ...,  -1.        ,
         92.        ,  68.        ],
       [ 24.23529412, -12.23529412,  62.76470588, ...,   5.        ,
         92.        ,  67.        ],
       [ 27.29411765, -13.29411765,  60.70588235, ...,  -1.        ,
         93.        ,  67.        ]])

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [21]:
ss = StandardScaler()

In [22]:
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [23]:
le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [24]:
print(pd.unique(y_train), pd.unique(y_test))

[1 2 0 3] [1 2 0 3]

In [25]:
y_train_dummy = np_utils.to_categorical(y_train)

In [26]:
y_train_dummy

array([[0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       ...,
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.]], dtype=float32)

In [27]:
y_test_dummy = np_utils.to_categorical(y_test)

In [34]:
network1 = models.Sequential()
network1.add(layers.Dense(128, activation='relu', input_dim = 16))
network1.add(layers.Dense(128, activation='relu', input_dim = 16))
network1.add(layers.Dense(128, activation='relu', input_dim = 16))
network1.add(layers.Dense(128, activation='relu', input_dim = 16))
network1.add(layers.Dense(128, activation='relu', input_dim = 16))
network1.add(layers.Dense(128, activation='relu', input_dim = 16))
network1.add(layers.Dense(128, activation='relu', input_dim = 16))
network1.add(layers.Dense(4, activation='softmax'))

In [35]:
network1.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [36]:
network1.fit(X_train, y_train_dummy, batch_size = 100, epochs = 10, verbose = 1)

Epoch 1/10
2297/2297 [==============================] - 17s 8ms/step - loss: 0.3610 - accuracy: 0.8709
Epoch 2/10
2297/2297 [==============================] - 23s 10ms/step - loss: 0.1981 - accuracy: 0.9311
Epoch 3/10
2297/2297 [==============================] - 15s 6ms/step - loss: 0.1556 - accuracy: 0.9447
Epoch 4/10
2297/2297 [==============================] - 15s 6ms/step - loss: 0.1328 - accuracy: 0.9520
Epoch 5/10
2297/2297 [==============================] - 15s 6ms/step - loss: 0.1169 - accuracy: 0.9570
Epoch 6/10
2297/2297 [==============================] - 14s 6ms/step - loss: 0.1046 - accuracy: 0.9607
Epoch 7/10
2297/2297 [==============================] - 19s 8ms/step - loss: 0.0965 - accuracy: 0.9637
Epoch 8/10
2297/2297 [==============================] - 13s 6ms/step - loss: 0.0887 - accuracy: 0.9660
Epoch 9/10
2297/2297 [==============================] - 16s 7ms/step - loss: 0.0836 - accuracy: 0.9679
Epoch 10/10
2297/2297 [==============================] - 16s 7ms/step - loss: 0.0787 - accuracy: 0.9697

In [37]:
y_pred = np.argmax(network.predict(X_test), axis=-1)

In [52]:
y_pred

array([0, 0, 0, ..., 1, 1, 1])

In [38]:
network.evaluate(X_test, y_test_dummy)

1568/1568 [==============================] - 2s 2ms/step - loss: 1.8957 - accuracy: 0.6452: 0s - loss: 1

[1.8957064151763916, 0.6451754570007324]

In [40]:
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score

In [41]:
confusion_matrix(y_test, y_pred)

array([[19647,  1980,   514,   659],
       [ 4112,  8935,  2857,  2336],
       [  871,  1058,  2178,   453],
       [  426,  2479,    53,  1602]])

In [42]:
accuracy_score(y_test, y_pred)

0.6451754385964912

In [43]:
f1_score(y_test, y_pred, average = 'weighted')

0.6412697675683126