## Activity Times Outcome File Cleaning

__INPUT: Outcomes Dataset Containing Start Times for each Activity__ (activityTimes_Outcome.csv)

__OUTPUT: Cleaned Outcomes File__ (10_Outcomes.csv)

The output_cleaner is for removing columns that have data that does not originate from the Empatica E4. The activityTimes_Outcomes file is a marker for when activitiy rounds begin and end for each individual participant. 

In this specific data, there are four activities:
- Baseline 
- Deep Breathing (DB)
- Activity
- Typing (Type)

In [9]:
import pandas as pd
import os
# Change to source directory where files are located
os.chdir('../00_source')
outcomes = pd.read_csv("Key/activityTimes_Outcome.csv")

In the data shown below, rounds of data for each activity type are shown and numbered. Round 3 is from an apple watch and since we are focusing on E4 data, these columns are removed.

In [10]:
outcomes.head(3)

,Subject ID,Baseline Start 1,Baseline Start 2,Baseline Start 3,DB Start 1,DB Start 2,DB Start 3,Activity Start 1,Activity Start 2,Activity Start 3,Type Start 1,Type Start 2,Type Start 3,Exception?,Unnamed: 14
0,19-001,7/17/2019 11:52:00,7/17/2019 12:08:00,7/17/2019 12:23:00,7/17/2019 11:56:00,7/17/2019 12:12:00,7/17/2019 12:27:00,7/17/2019 11:58:00,7/17/2019 12:13:00,7/17/2019 12:28:00,7/17/2019 12:05:00,7/17/2019 12:20:00,7/17/2019 12:34:00,N,NaN
1,19-002,7/17/2019 16:08:00,7/17/2019 16:22:00,7/17/2019 16:38:00,7/17/2019 16:12:00,7/17/2019 16:26:00,7/17/2019 16:42:00,7/17/2019 16:13:00,7/17/2019 16:27:00,7/17/2019 16:43:00,7/17/2019 16:19:00,7/17/2019 16:34:00,7/17/2019 16:49:00,N,NaN
2,19-003,7/18/2019 8:11:00,7/18/2019 8:26:00,7/18/2019 8:42:00,7/18/2019 8:15:00,7/18/2019 8:31:00,7/18/2019 8:46:00,7/18/2019 8:17:00,7/18/2019 8:32:00,7/18/2019 8:47:00,7/18/2019 8:25:00,7/18/2019 8:40:00,7/18/2019 8:56:00,Y,"No ECG until T3, Replaced Miband with Empatica"

In this file, specific to our data, participant 19-028 needs to have his activity rounds flipped which is fixed in this file. For this participants data, rounds are reversed so the rounds of interest are rounds 2 and 3, which should be 1 and 2.

In [3]:
# for subject 19-028, rounds are reversed so the rounds of interest are rounds 2 and 3, which should be 1 and 2

outcomes[outcomes['Subject ID'] == '19-028']

outcomes.iloc[27,2] = outcomes.iloc[27,1] 
outcomes.iloc[27,1] = outcomes.iloc[27,3] 

outcomes.iloc[27,5] = outcomes.iloc[27,4] 
outcomes.iloc[27,4] = outcomes.iloc[27,6] 

outcomes.iloc[27,8] = outcomes.iloc[27,7] 
outcomes.iloc[27,7] = outcomes.iloc[27,9] 

outcomes.iloc[27,11] = outcomes.iloc[27,10] 
outcomes.iloc[27,10] = outcomes.iloc[27,12]

Below, round 3 data for all participants is dropped and the cleaned file is saved as a csv.

In [5]:
# Get rid of cols without E4 data
outcomes = outcomes.drop(outcomes.columns[[3, 6, 9, 12]],
                         axis=1).rename(columns={"Unnamed: 14": "Notes"})
outcomes.to_csv("../10_code/10_pre_outlier_removal_processing/10_Outcomes.csv", index=False)