In [4]:
!pip install keras

Collecting keras
  Downloading Keras-2.4.3-py2.py3-none-any.whl (36 kB)
Requirement already satisfied: scipy>=0.14 in /opt/anaconda3/envs/pytorch_p37/lib/python3.7/site-packages (from keras) (1.4.1)
Requirement already satisfied: h5py in /opt/anaconda3/envs/pytorch_p37/lib/python3.7/site-packages (from keras) (2.10.0)
Requirement already satisfied: numpy>=1.9.1 in /opt/anaconda3/envs/pytorch_p37/lib/python3.7/site-packages (from keras) (1.18.1)
Collecting pyyaml
  Downloading PyYAML-5.3.1.tar.gz (269 kB)
     |████████████████████████████████| 269 kB 3.3 MB/s eta 0:00:01
Requirement already satisfied: six in /opt/anaconda3/envs/pytorch_p37/lib/python3.7/site-packages (from h5py->keras) (1.14.0)
Building wheels for collected packages: pyyaml
  Building wheel for pyyaml (setup.py) ... done
  Created wheel for pyyaml: filename=PyYAML-5.3.1-cp37-cp37m-macosx_10_9_x86_64.whl size=44625 sha256=6e0fb8f8e2b7dd29f4add40be3abef25b7fcfef9c5716220cf8015d0331deff2
  Stored in directory: /Users/kushgulati/Library/Caches/pip/wheels/5e/03/1e/e1e954795d6f35dfc7b637fe2277bff021303bd9570ecea653
Successfully built pyyaml
Installing collected packages: pyyaml, keras
Successfully installed keras-2.4.3 pyyaml-5.3.1

In [5]:
import numpy as np
import pandas as pd
import tensorflow as tf
import random
import keras
from keras import models
from keras import layers
import numpy as np
from keras.utils import np_utils

In [6]:
tf.__version__

'2.2.0'

In [7]:
df  = pd.read_csv('../20_intermediate_files/60_final_data.csv')

In [8]:
df

,ACC1,ACC2,ACC3,TEMP,EDA,BVP,HR,Magnitude,Activity,Subject_ID
0,41.000000,27.200000,40.000000,32.39,0.275354,15.25,78.9800,63.410094,Baseline,19-001
1,41.000000,27.300000,40.000000,32.39,0.276634,-12.75,78.8350,63.453054,Baseline,19-001
2,41.000000,27.400000,40.000000,32.39,0.270231,-42.99,78.6900,63.496142,Baseline,19-001
3,41.000000,27.500000,40.000000,32.39,0.270231,18.39,78.5450,63.539358,Baseline,19-001
4,41.000000,27.600000,40.000000,32.34,0.268950,13.61,78.4000,63.582702,Baseline,19-001
...,...,...,...,...,...,...,...,...,...,...
293035,21.176471,-11.176471,64.823529,32.09,0.708502,0.85,92.8275,69.104605,Type,19-056
293036,24.235294,-12.235294,62.764706,32.09,0.694414,-1.00,92.8800,68.384649,Type,19-056
293037,27.294118,-13.294118,60.705882,32.09,0.672642,5.22,92.9400,67.874197,Type,19-056
293038,30.352941,-14.352941,58.647059,32.09,0.664957,-1.47,93.0000,67.577995,Type,19-056
293039,33.411765,-15.411765,56.588235,32.09,0.648308,1.37,93.0600,67.498866,Type,19-056

In [9]:
random.seed(321)

In [10]:
ID_list = list(df['Subject_ID'].unique())
random.shuffle(ID_list)
train = pd.DataFrame()
test = pd.DataFrame()
#val = pd.DataFrame()

In [11]:
#change size of train/test split
train = df[df['Subject_ID'].isin(ID_list[:45])]
test = df[df['Subject_ID'].isin(ID_list[45:])]
#val = df[df['Subject_ID'].isin(ID_list[50:56])]

In [12]:
test.Subject_ID.unique()

array(['19-009', '19-016', '19-018', '19-022', '19-024', '19-026',
       '19-029', '19-030', '19-036', '19-039', '19-047'], dtype=object)

In [13]:
print(train.shape, test.shape)

(234960, 10) (58080, 10)

In [14]:
train.iloc[:,0:8]

,ACC1,ACC2,ACC3,TEMP,EDA,BVP,HR,Magnitude
0,41.000000,27.200000,40.000000,32.39,0.275354,15.25,78.9800,63.410094
1,41.000000,27.300000,40.000000,32.39,0.276634,-12.75,78.8350,63.453054
2,41.000000,27.400000,40.000000,32.39,0.270231,-42.99,78.6900,63.496142
3,41.000000,27.500000,40.000000,32.39,0.270231,18.39,78.5450,63.539358
4,41.000000,27.600000,40.000000,32.34,0.268950,13.61,78.4000,63.582702
...,...,...,...,...,...,...,...,...
293035,21.176471,-11.176471,64.823529,32.09,0.708502,0.85,92.8275,69.104605
293036,24.235294,-12.235294,62.764706,32.09,0.694414,-1.00,92.8800,68.384649
293037,27.294118,-13.294118,60.705882,32.09,0.672642,5.22,92.9400,67.874197
293038,30.352941,-14.352941,58.647059,32.09,0.664957,-1.47,93.0000,67.577995
293039,33.411765,-15.411765,56.588235,32.09,0.648308,1.37,93.0600,67.498866

In [15]:
test.iloc[:,0:8]

,ACC1,ACC2,ACC3,TEMP,EDA,BVP,HR,Magnitude
42240,37.333333,11.333333,46.500000,34.970000,0.161370,-6.220000,89.800000,60.699854
42241,37.266667,11.266667,46.400000,34.970000,0.161370,-44.070000,89.717500,60.569813
42242,37.200000,11.200000,46.300000,34.970000,0.161370,18.590000,89.635000,60.439805
42243,37.133333,11.133333,46.200000,34.970000,0.162651,12.580000,89.552500,60.309830
42244,37.066667,11.066667,46.100000,34.970000,0.163931,11.050000,89.470000,60.179888
...,...,...,...,...,...,...,...,...
248155,20.368738,-46.958831,-36.725538,30.721876,0.008841,349.516812,81.742077,62.998273
248156,20.368557,-46.958819,-36.725460,30.721856,0.008841,349.515421,81.741955,62.998160
248157,20.368377,-46.958807,-36.725381,30.721837,0.008841,349.514030,81.741833,62.998047
248158,20.368196,-46.958795,-36.725303,30.721817,0.008841,349.512640,81.741710,62.997934
248159,20.368016,-46.958784,-36.725224,30.721798,0.008841,349.511249,81.741588,62.997822

In [16]:
X_train = train.iloc[:,0:8].values
X_test = test.iloc[:,0:8].values

In [17]:
y_train = train.iloc[:,8].values
y_test = test.iloc[:,8].values

In [18]:
print(X_train.shape,  y_train.shape, X_test.shape, y_test.shape)

(234960, 8) (234960,) (58080, 8) (58080,)

In [19]:
X_test

array([[ 37.33333333,  11.33333333,  46.5       , ...,  -6.22      ,
         89.8       ,  60.69985356],
       [ 37.26666667,  11.26666667,  46.4       , ..., -44.07      ,
         89.7175    ,  60.5698128 ],
       [ 37.2       ,  11.2       ,  46.3       , ...,  18.59      ,
         89.635     ,  60.43980476],
       ...,
       [ 20.36837685, -46.95880719, -36.72538124, ..., 349.5140302 ,
         81.7418326 ,  62.99804739],
       [ 20.36819634, -46.95879541, -36.72530276, ..., 349.51263953,
         81.7417103 ,  62.9979345 ],
       [ 20.36801582, -46.95878364, -36.72522427, ..., 349.51124885,
         81.741588  ,  62.99782161]])

In [20]:
X_train

array([[ 41.        ,  27.2       ,  40.        , ...,  15.25      ,
         78.98      ,  63.41009383],
       [ 41.        ,  27.3       ,  40.        , ..., -12.75      ,
         78.835     ,  63.45305351],
       [ 41.        ,  27.4       ,  40.        , ..., -42.99      ,
         78.69      ,  63.49614162],
       ...,
       [ 27.29411765, -13.29411765,  60.70588235, ...,   5.22      ,
         92.94      ,  67.87419668],
       [ 30.35294118, -14.35294118,  58.64705882, ...,  -1.47      ,
         93.        ,  67.57799544],
       [ 33.41176471, -15.41176471,  56.58823529, ...,   1.37      ,
         93.06      ,  67.49886581]])

In [21]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [22]:
ss = StandardScaler()

In [23]:
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [24]:
le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [25]:
print(pd.unique(y_train), pd.unique(y_test))

[1 2 0 3] [1 2 0 3]

In [26]:
y_train_dummy = np_utils.to_categorical(y_train)

In [33]:
y_train_dummy

array([[0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       ...,
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.]], dtype=float32)

In [31]:
y_test_dummy = np_utils.to_categorical(y_test)

In [48]:
network = models.Sequential()
network.add(layers.Dense(128, activation='relu', input_dim = 8))
network.add(layers.Dense(128, activation='relu', input_dim = 8))
network.add(layers.Dense(128, activation='relu', input_dim = 8))
network.add(layers.Dense(128, activation='relu', input_dim = 8))
network.add(layers.Dense(128, activation='relu', input_dim = 8))
network.add(layers.Dense(128, activation='relu', input_dim = 8))
network.add(layers.Dense(128, activation='relu', input_dim = 8))
network.add(layers.Dense(4, activation='softmax'))

In [49]:
network.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [50]:
network.fit(X_train, y_train_dummy, batch_size = 100, epochs = 10, verbose = 1)

Epoch 1/10
2350/2350 [==============================] - 3s 1ms/step - loss: 0.3908 - accuracy: 0.8579
Epoch 2/10
2350/2350 [==============================] - 3s 1ms/step - loss: 0.2276 - accuracy: 0.9196
Epoch 3/10
2350/2350 [==============================] - 3s 1ms/step - loss: 0.1824 - accuracy: 0.9344
Epoch 4/10
2350/2350 [==============================] - 3s 1ms/step - loss: 0.1586 - accuracy: 0.9423
Epoch 5/10
2350/2350 [==============================] - 3s 1ms/step - loss: 0.1403 - accuracy: 0.9480
Epoch 6/10
2350/2350 [==============================] - 3s 1ms/step - loss: 0.1293 - accuracy: 0.9520
Epoch 7/10
2350/2350 [==============================] - 3s 1ms/step - loss: 0.1190 - accuracy: 0.9553
Epoch 8/10
2350/2350 [==============================] - 4s 2ms/step - loss: 0.1110 - accuracy: 0.9579
Epoch 9/10
2350/2350 [==============================] - 4s 2ms/step - loss: 0.1056 - accuracy: 0.9600
Epoch 10/10
2350/2350 [==============================] - 4s 2ms/step - loss: 0.1002 - accuracy: 0.9616

In [51]:
y_pred = np.argmax(network.predict(X_test), axis=-1)

In [52]:
y_pred

array([0, 0, 0, ..., 1, 1, 1])

In [53]:
network.evaluate(X_test, y_test_dummy)

1815/1815 [==============================] - 1s 545us/step - loss: 2.0508 - accuracy: 0.5430

[2.0507652759552, 0.5429751873016357]

In [54]:
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score

In [55]:
confusion_matrix(y_test, y_pred)

array([[19026,  6555,   597,   222],
       [ 6592,  9909,  3014,  1605],
       [ 1339,  1597,  1935,   409],
       [  959,  3364,   291,   666]])

In [56]:
accuracy_score(y_test, y_pred)

0.5429752066115703

In [57]:
f1_score(y_test, y_pred, average = 'weighted')

0.534272528833799